body {
  background-color:#EAF6f6;
}
hr {
  /* background-color: white;  no need when we color */
  /* border-width: 1px; */    /* we can either use one of them - height*/
  height: 0px;      /*should set to zero if we want to get dotted hr  or we can remove*/
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

img:hover{       /*when we roll mouse over the element changes its color*/
  background-color: rgb(30, 10, 102);
}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}

/* we can style specific element of a tag using class */

.myphoto {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

/* we can style specific element of a tag using id also */

/* #name {
  color: black;
} */